*credentials*
*token*
*secret*
*node_modules*
*owlen.xyz*
*dump*
*password*
*session.vim*
*third_party*
*scratch*
*production/hartsfield*
*experimental/hartsfield*
*log.txt*
*log_file.txt*
*logfile.txt*
*logFile.txt*
