.logo {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
}
.owlen {
   -webkit-mask: url(/public/media/owl.svg) no-repeat 100% 100%;
   mask: url(/public/media/owl.svg) no-repeat 100% 100%;
   mask-size: contain;
   -webkit-mask-size: contain;
   background: var(--fg);
   height: 2.2em;
   width: 3em;
   cursor: pointer;
}
.topNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-outer {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    color: var(--nav-fg);
    background: var(--yellow);
    align-items: stretch;
    font-size: 1.3em;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
}
.owlWord {
    color: var(--fg);
   font-weight: 500;
   cursor: pointer;
}

.heightAnimate {
   animation: 1s linear navheight;
   animation-fill-mode: forwards;
    padding: 1em;
}

@keyframes navheight {
   0% {height: 1em;}
   100% {height: 100%;}
}

.navItem {
    margin-right: 1.1em;
    width: 2em !important;
    background-color: #a9d22c !important;
    border-radius: 0.3em;
}
.navItem > div {
   color: var(--nav-bg) !important;
    text-align: center;
    margin: 0.3em;
    border-radius: 0.3em;
}

.follow {
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.ftag {
    background: white;
    padding: 0.2em;
    border-radius: 0.3em;
    margin: 0.1em;
    font-size: 0.8em;
    color: #a09734;
}
