<div class="section-outer nav-outer section-nav" id="section-nav">
    <div class="topNav">
        <div class="logo">
            <div class="owlen" onclick="window.location = window.location.origin"></div>
            <div class="owlWord">
                <div class="owlen-inner" onclick="window.location = window.location.origin">Owlen</div>
                {{template "search.tmpl"}}
            </div> 
        </div> 
        <!-- <div class="navItem addMore" onclick="showDash()"> -->
        <!--     <div class="plusSign_" id="nb1">+</div> -->
        <!-- </div> -->
    </div>
    <div class="follow" id="following"></div>
</div>
<script>{{ template "nav.js"}}</script>
