.catList-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1em;
    margin-top: 4em;
}
.cat {
   border-radius: 0.3em;
    background: var(--yellow);
    color: var(--red);

    color: #a9be50;
    /* border: 1px solid #e1d79d; */

}
