.mediaList-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 3.9em 1em 1em 1em;
    max-width: 80ch;
}
.mediaOuter {
    padding: 0.7em;
    margin: 1em 0;
    flex-grow: 1;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0.5em;
    border: var(--topLayerBorder);
    position: relative;
    background: var(--media-main-color);
}
.mediaUnder {
    height: 100%;
    position: absolute;
    border-radius: 0.4em;
    z-index: -10;
    width: 100%;
    margin-left: -0.1em;
    background: var(--middleLayer);
    box-shadow: 0.53em 0.5em var(--bottomLayer);
}
.mediaAbstract {
    border-radius: 0.5em;
    margin:0.6em 0;
    text-align: justify;
    overflow: hidden;
    max-height: 4ch;
    font-weight: 300;
    color: var(--abstract-color);
    max-width: 78ch;
}
.mediaAbstract::-webkit-scrollbar {
    display: none;

}

.mediaTitle {
    color: var(--mediaTitleColor);
    font-weight: 500;
    text-transform: capitalize;
}
.mediaWords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.keyword {
    padding: 0.2em 0.6em 0.3em 0.6em;
    margin-right: 0.4em;
    border-radius: 0.3em;
    font-size: 0.75em;
    color: var(--kwfg);
    background: var(--nav-main-color);
}
