.mediaList-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin: 3.9em 1em 1em 1em;
    max-width: 80ch;
}
.mediaOuter {
    margin: 1em 0;
    flex-grow: 1;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0.5em;
    position: relative;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 4px #e6e6e6;
    border: 1px solid #d9d9d9;
}
.mediaUnder {
    height: 100%;
    position: absolute;
    border-radius: 0.4em;
    z-index: -10;
    width: 100%;
    margin-left: -0.1em;
    background: var(--middleLayer);
    box-shadow: 0.53em 0.5em var(--bottomLayer);
}
.mediaAbstract {
    border-radius: 0.5em;
    margin:0.6em 0;
    text-align: justify;
    overflow: hidden;
    /* max-height: 4ch; */
    font-weight: 300;
    /* max-width: 78ch; */
    padding: 0.5em 1.1em 0.5em 1.1em;
    color: #686868;
    font-size: 0.75em;
}
.mediaAbstract::-webkit-scrollbar {
    display: none;

}

.mediaTitle {
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.5em 0.5em 0.5em 0.7em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    background: #dc8c62;
    color: #ffffff;
}
.mediaWords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    background: #f2f2f2;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.keyword {
    padding: 0.2em 0.6em 0.3em 0.6em;
    margin-right: 0.4em;
    border-radius: 0.3em;
    font-size: 0.75em;
    background: #fff589;
    color: #9f9734;
    border: 1px solid #e1d79d;
}
