<head>
  <title>Owlen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no"/>
  <meta name="theme-color" content=" hsl(45, 85%, 55%)">
  <script type="text/javascript"
          src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js">
  </script>
  <script>{{ template "head_js" . }}</script>
  <style>{{ template "head.css" . }}</style>
</head>


