{{ define "search.tmpl" }}
<div class="section-outer search-outer section-search" id="section-search">
    <input type="text" placeholder="filter" class="search-input" id="search-input" > 
</div>
<style>{{ template "search.css" }}</style>
<script>{{ template "search.js"}}</script>
{{end}}
