<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  {{template "head.tmpl" . }} 
  <body>
    {{template "nav.tmpl" . }}
    <div id="updateDiv">
      {{template "mediaList.tmpl" . }}
      {{template "footer.html" . }}
    </div>
  </body>
</html>


